absl-py==0.12.0
ads==0.12.3
afmformats==0.12.3
aiofiles==0.7.0
aiohttp==3.7.4
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==2.0.1
anaconda-project==0.10.0
anyio==3.1.0
AnyQt==0.0.13
appdirs==1.4.4
apptools==5.1.0
argh==0.26.2
argon2-cffi==20.1.0
arrow==1.1.0
arviz==0.11.2
asn1crypto==1.4.0
astor==0.8.1
astroid==2.5.7
astropy==4.2.1
astroquery==0.4.1
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.6
autoviz==0.0.81
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
backtrader==1.9.76.123
bcrypt==3.2.0
beautifulsoup4==4.9.3
bfx-hf-indicators==1.1.0
binaryornot==0.4.4
biopython==1.74
bitarray==2.0.1
bkcharts==0.2
black==20.8b1
bleach==3.3.0
bokeh==2.3.2
boto==2.49.0
boto3==1.9.231
botocore==1.12.231
Bottleneck==1.3.2
bowler==0.9.0
bqplot==0.12.23
brotlipy==0.7.0
bt==0.2.8
build==0.5.1
CacheControl==0.12.6
cached-property==1.5.2
cachetools==4.2.2
Cerberus==1.3.4
certifi==2021.5.30
cffi==1.14.5
cftime==1.5.0
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
clyent==1.2.2
cmarkgfm==0.6.0
colorama==0.4.4
commonmark==0.9.1
comtypes==1.1.10
conda==4.10.3
conda-build==3.18.9
conda-content-trust==0.1.3
conda-pack==0.6.0
conda-package-handling==1.7.3
conda-repo-cli==1.0.4
conda-token==0.3.0
conda-verify==3.4.2
configobj==5.0.6
confuse==1.4.0
contextlib2==0.6.0.post1
convertdate==2.3.2
cookiecutter==1.6.0
coverage==5.5
cryptography==3.4.7
csscompressor==0.9.5
cx-Freeze==6.6
cx-Logging==3.0
cycler==0.10.0
Cython==0.29.23
cytoolz==0.11.0
daiquiri==3.0.0
dask==2.30.0
dataprep==0.2.15
decorator==4.4.2
defusedxml==0.7.1
dephell==0.8.3
dephell-archive==0.1.7
dephell-argparse==0.1.3
dephell-changelogs==0.0.1
dephell-discover==0.2.10
dephell-licenses==0.1.7
dephell-links==0.1.5
dephell-markers==1.0.3
dephell-pythons==0.1.15
dephell-setuptools==0.2.4
dephell-shells==0.1.5
dephell-specifier==0.2.2
dephell-venvs==0.1.18
dephell-versioning==0.1.2
dictdiffer==0.8.1
diff-match-patch==20200713
dill==0.3.3
distlib==0.3.2
distributed==2.30.1
Django==2.2.1
dnspython==1.16.0
docker==5.0.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.17.1
docx2txt==0.8
echo==0.5
entrypoints==0.3
envisage==6.0.0
ephem==3.7.7.1
et-xmlfile==1.0.1
eventemitter==0.2.0
fast-histogram==0.0.0
fastcache==1.1.0
fbprophet==0.6
fett==0.3.2
ffn==0.3.5
filelock==3.0.12
fissix==21.6.6
flake8==3.8.4
Flask==1.1.2
freetype-py==2.2.0
fsspec==2021.5.0
future==0.18.2
gast==0.4.0
gensim==3.8.0
gevent==21.1.2
ghp-import==2.0.1
gitdb==4.0.7
GitPython==3.1.18
glob2==0.7
glue-core==1.0.0
glue-vispy-viewers==1.0.2
glueviz==0.15.2
gmpy2==2.1.0b1
google-api-core==1.26.3
google-api-python-client==2.7.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
graphviz==0.17
greenlet==1.1.0
grpcio==1.38.0
h5py==3.2.1
HeapDict==1.0.1
hide-code==0.6.0
hijri-converter==2.1.2
holidays==0.11.1
html5lib==1.1
htmlmin==0.1.12
httplib2==0.19.1
hypothesis==6.14.3
idna==2.10
igor==0.3
ImageHash==4.2.0
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.5.0
importlib-resources==5.1.4
inflection==0.5.1
iniconfig==1.1.1
intervaltree==3.0.2
ipykernel==5.5.3
ipyparallel==6.3.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
isort==5.8.0
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.3
jinja2-time==0.2.0
jmespath==0.9.4
joblib==1.0.1
jprops==2.0.2
json5==0.9.5
jsonpath-ng==1.5.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.2.0
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.1
jupyter-datatables==0.3.9
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-nbutils==0.1.3
jupyter-require==0.6.1
jupyter-server==1.8.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.0
jupyterlab-widgets==1.0.0
keepalive==0.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==21.2.1
keyrings.alt==4.0.2
kiwisolver==1.3.1
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.6.0
libarchive-c==3.1
llvmlite==0.36.0
locket==0.2.0
lockfile==0.12.2
LTTL==2.0.7
LunarCalendar==0.0.9
lxml==4.6.3
m2r==0.2.1
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-scalebar==0.7.2
mayavi==4.7.1
mccabe==0.6.1
menuinst==1.4.16
mergedeep==1.3.4
missingno==0.4.2
mistune==0.8.4
mkdocs==1.2.2
mkl-fft==1.3.0
mkl-random==1.2.0
mkl-service==2.3.0
mock==4.0.3
more-itertools==8.8.0
moreorless==0.4.0
mpl-scatter-density==0.7
mpmath==1.2.1
msgpack==1.0.2
multidict==5.1.0
multimethod==1.4
multipledispatch==0.6.0
mwparserfromhell==0.5.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nbsphinx==0.8.6
nest-asyncio==1.5.1
netCDF4==1.5.6
networkx==2.5.1
nltk==3.6.2
nose==1.3.7
notebook==6.4.0
numba==0.53.1
numexpr==2.7.3
numpy==1.20.3
numpydoc==1.1.0
oauth2client==4.1.3
oauthlib==3.1.0
odfpy==1.4.0
olefile==0.46
ontospy==1.9.8.2
open3d==0.8.0.0
openfovea==0.1a162
openpyxl==3.0.7
openTSNE==0.6.0
orange-canvas-core==0.1.21
orange-widget-base==4.0.1
Orange3==3.23.0
Orange3-Textable==3.1.4
Orange3-Timeseries==0.3.3
Owlready==0.3.1
packaging==20.9
palettable==3.3.0
pandas==1.2.4
pandas-bokeh==0.5
pandas-datareader==0.7.4
pandas-profiling==3.0.0
pandocfilters==1.4.2
paramiko==2.7.2
parso==0.7.0
partd==1.2.0
path==15.1.2
pathlib2==2.3.5
pathspec==0.8.1
pathtools==0.1.2
patsy==0.5.1
pdfkit==0.6.1
pdfminer3k==1.3.1
pdoc3==0.8.1
pep517==0.11.0
pep8==1.7.1
pexpect==4.8.0
phik==0.11.2
pickleshare==0.7.5
Pillow==8.2.0
pipdeptree==1.0.0
pipreqs==0.4.9
pkginfo==1.7.0
pluggy==0.13.1
ply==3.11
pooch==1.3.0
poyo==0.5.0
prometheus-client==0.11.0
prompt-toolkit==3.0.18
protobuf==3.17.2
psutil==5.8.0
ptyprocess==0.7.0
Pweave==0.30.3
py==1.10.0
PyAlgoTrade==0.20
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.7.0
pycosat==0.6.3
pycountry==19.8.18
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.6
pydantic==1.8.2
pydocstyle==6.1.1
PyDrive==1.3.1
pyee==5.0.0
pyerfa==2.0.0
pyface==7.3.0
pyfiglet==0.8.post1
pyfinex==1.0.3
pyflakes==2.2.0
pygame==2.0.1
Pygments==2.9.0
pylint==2.7.2
pyls-black==0.4.6
pyls-spyder==0.3.2
PyMeeus==0.5.10
pymongo==3.11.3
pymunk==6.0.0
PyNaCl==1.4.0
pyodbc==4.0.30
PyOpenGL==3.1.5
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPrind==2.11.2
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
pyqtgraph==0.12.1
PyQtWebEngine==5.12.1
pyreadline==2.1
pyrsistent==0.17.3
PySide2==5.15.2
PySide6==6.0.3
PySimpleGUI==4.6.0
PySimpleGUIQt==0.35.0
PySimpleGUIWeb==0.36.0
PySimpleGUIWx==0.17.2
PySocks==1.7.1
pystan==2.19.1.1
pytest==6.2.4
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-asyncio==0.10.0
pytest-cov==2.12.1
pytest-doctestplus==0.10.1
pytest-filter-subpackage==0.1.1
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-gnupg==0.4.7
python-json-logger==2.0.1
python-jsonrpc-server==0.3.4
python-language-server==0.36.2
python-louvain==0.15
pytz==2021.1
pyUSID==0.0.8.1
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==1.1.1
-e git+https://github.com/vincenzooo/pyXSurf.git@e55798d67ea2ded4862191d1cbd323371ae33e3b#egg=pyXsurf
PyYAML==5.4.1
pyyaml-env-tag==0.1
pyzmq==22.1.0
qasync==0.16.0
QDarkStyle==3.0.2
qgrid==1.3.1
qstylizer==0.2.0
QtAwesome==1.0.2
qtconsole==5.1.0
QtPy==1.9.0
rdflib==4.2.2
rdflib-jsonld==0.4.0
readme-renderer==29.0
regex==2020.11.13
remi==2021.3.2
requests==2.25.1
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.5.0
rise==5.6.1
rope==0.19.0
rsa==4.7.2
rstcheck==3.3.1
Rtree==0.9.7
ruamel-yaml-conda==0.15.80
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
s3transfer==0.2.1
scikit-image==0.16.2
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
seaborn-image==0.4.2
Send2Trash==1.5.0
serverfiles==0.3.0
setuptools-git==1.2
sh==1.14.2
shellingham==1.4.0
shiboken2==5.15.2
shiboken6==6.0.3
simhash==1.9.0
simplegeneric==0.8.1
simplejson==3.17.2
singledispatch==0.0.0
sip==4.19.25
six==1.16.0
smart-open==1.8.4
smmap==3.0.5
sniffio==1.2.0
snooty-lextudio==1.9.1.dev0
snowballstemmer==2.1.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.0.1
SPARQLWrapper==1.8.4
Sphinx==4.0.2
sphinx-nbexamples==0.4.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder==5.0.5
spyder-kernels==2.0.5
spyder-notebook==0.1.4
spyder-reports==0.1.1
SQLAlchemy==1.4.17
statsmodels==0.12.2
sweetviz==2.1.0
sympy==1.8
tables==3.6.1
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tblib==1.7.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
textdistance==4.2.1
threadpoolctl==2.1.0
three-merge==0.1.1
tinycss2==1.1.0
toml==0.10.2
tomli==1.0.4
tomlkit==0.7.2
toolz==0.11.1
tornado==6.1
tox==3.24.0
tqdm==4.61.0
traitlets==5.0.5
traits==6.2.0
traitsui==7.2.0
traittypes==0.2.1
treelib==1.5.5
treetaggerwrapper==2.3
tscv==0.0.5
tweepy==3.8.0
twine==3.4.2
typed-ast==1.4.3
typing-extensions==3.7.4.3
ujson==4.0.2
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.5
validate-email==1.3
virtualenv==20.4.7
visions==0.7.1
vispy==0.6.6
volatile==2.1.0
vtk===-PKG-VERSION
watchdog==1.0.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
websockets==7.0
Werkzeug==2.0.1
wget==3.2
whichcraft==0.6.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.12.1
ws4py==0.5.1
wxPython==4.0.4
xarray==0.18.2
xgboost==1.4.2
xlrd==2.0.1
XlsxWriter==1.4.3
xlwings==0.23.3
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.31.0
yarg==0.1.9
yarl==1.6.3
yaspin==2.0.0
zict==2.0.0
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
